<%- include("header") -%> 

<h2>This is about page</h2>

<p>To-Do List app, designed to help you stay organized, focused, and productive our to-do list is for everyone who wants to create and manage their tasks quickly and easily.</p>


<%- include("footer") -%>